.root{
	-fx-base: rgb(190, 190, 190);
	-fx-font-family: "Microsoft JhengHei UI";
	-fx-text-fill: rgb(240,240,240);
	-fx-background-image: url("./imagen1.png");
	-fx-background-color: rgb(190,190,190);
	
	-fx-text-base-color: #FFFFFF;
    -fx-text-background-color: #FFFFFF;
    -fx-text-inner-color: #0A0A0A;
}

.Anchor-Pane{
	-fx-base: rgb(190, 190, 190);
	-fx-background-image: url("./imagen1.png");
}

.Border-Pane{
	-fx-base: rgb(190, 190, 190);
	-fx-background-image: url("./imagen1.png");
}

.Pane{
	-fx-base: rgb(190, 190, 190);
	-fx-background-image: url("./imagen1.png");
}

.Stack-Pane{
	-fx-base: rgb(190, 190, 190);
	-fx-background-image: url("./imagen1.png");
}

.tab {
	-fx-base: rgb(60, 60, 60);
-fx-background-color: linear-gradient(to top, -fx-base, derive(-fx-base,30%));
}
 
.menu-bar {
	-fx-base: rgb(60, 60, 60);
-fx-background-color: linear-gradient(to bottom, -fx-base, derive(-fx-base,30%));
}
 
.tool-bar:horizontal {
	-fx-base: rgb(60, 60, 60);
-fx-background-color:
linear-gradient(to bottom, derive(-fx-base,+50%), derive(-fx-base,-40%), derive(-fx-base,-20%));
}
 
.button {
	-fx-base: rgb(60, 60, 60);
-fx-background-color: transparent;
}
 
.button:hover {
-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
-fx-color: -fx-hover-base;
}
 
.table-view {
	-fx-base: rgb(60, 60, 60);
-fx-table-cell-border-color:derive(-fx-base,+10%);
-fx-table-header-border-color:derive(-fx-base,+20%);
}
 
.split-pane:horizontal > * > .split-pane-divider {
	-fx-base: rgb(60, 60, 60);
-fx-border-color: transparent -fx-base transparent -fx-base;
-fx-background-color: transparent, derive(-fx-base,20%);
-fx-background-insets: 0, 0 1 0 1;
}
 
.my-gridpane {
-fx-background-color: radial-gradient(radius 100%, derive(-fx-base,20%), derive(-fx-base,-20%));
}
 
.separator-label {
-fx-text-fill: orange;
}

.label {
-fx-text-fil: white;
}